<link rel="stylesheet" href="~/css/styles.css">
<nav class="navbar-expand-lg">
    <div class="containerNav d-flex justify-content-between">
        <div class="text-left">
            <h1>Conding Dojo Wall</h1>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <div class="mr-4">
                <h2>Welcome @Context.Session.GetString("FirstName")</h2>
            </div>
            <div>
                <form method="post" asp-action="ProcessLogout" asp-controller="Home">
                    <button id="btnLogout" type="submit" name="logout" value="logout">Log Out</button>
                </form>
            </div>
        </div>
    </div>
</nav>