<div class="mt-4">
    <form>
        <div class="form-group">
            <label class="fs-6 font-weight-bold" for="exampleFormControlTextarea1">Post a Message</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="mt-2 d-flex justify-content-end">
            <button type="submit" name="" class="btn btn-success d-flex justify-content-end">Post</button>
        </div>
    </form>
</div>